{{ page.content }}

<style></style>
<div class="profileImageContainer"></div>
<div class="name">
  <h3>Pineda & Co.</h3>
</div>
<div class="container">
  <div>
    <a href="#">Shop</a>
  </div>
  <div>
    <a href="#">Shop</a>
  </div>
  <div>
    <a href="#">Shop</a>
  </div>
</div>
{% section 'newsletter' %}
