{{ page.content }}

<style>
  body {
    background: rgb(38,0,6);
    background: linear-gradient(
      0deg,
      rgba(38,0,6,1) 0%,
      rgba(228,217,255,1) 0%,
      rgba(30,39,73,1) 100%
      );
    background-repeat: no-repeat;
  }
  .profileImage{
    border-radius: 50%;
  }
  .profileImageContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 200px;
  }
  .name {
    display: flex;
    align-content: center;
    justify-content: center;
    color: rgb(243,236,236);
    font-size: 3rem;
  }
  a {
    display: flex;
    align-container: center;
    justify-content: center;
    border: 1px white solid;
    background-color: #273469;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fafaff;
    margin: 30px;
    padding: 30px;
  }
  a:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.8);
  }
</style>

<div class="profileImageContainer">
  <img
    src="https://cdn.shopify.com/s/files/1/0709/8856/2705/files/IMG_3638.jpg?v=1674242242"
    alt="Pineda & Co."
    class="profileImage"
  >
</div>
<div class="name">
  <h1>Pineda & Co.</h1>
</div>

{{ 'social/social-icons.css' | global_asset_url | stylesheet_tag }}
<style>
  .social-links a { display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; margin: 0; padding: 0.05em; color: #555!important; font-size: 35px!important; }
</style>
<span class="social-links">
  <a href="https://www.facebook.com/pinedaandco" title="Follow us on Facebook" target="_blank" rel="noopener noreferrer"
    ><span class="shopify-social-icon-facebook"></span
  ></a>
  <a
    href="https://www.pinterest.ca/pinedaandco"
    title="Follow us on Pinterest"
    target="_blank"
    rel="noopener noreferrer"
    ><span class="shopify-social-icon-pinterest"></span
  ></a>
  <a
    href="https://www.instagram.com/pinedaandco/"
    title="Follow us on Instagram"
    target="_blank"
    rel="noopener noreferrer"
    ><span class="shopify-social-icon-instagram"></span
  ></a>
</span>

<a href="http://instagram.com/sonnybaileyairdjewellery" target="_blank" class="sqs-svg-icon--wrapper instagram">
  <div>
    <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
      <use class="sqs-use--icon" xlink:href="#instagram-icon"></use>
      <use class="sqs-use--mask" xlink:href="#instagram-mask"></use>
    </svg>
  </div>
</a>

<div class="container">
  <div>
    <a href="https://www.pinedaandco.com/">The House of Pineda & Co.</a>
  </div>
  <div>
    <a href="https://www.pinedaandco.com/collections/all">Shop</a>
  </div>
  <div>
    <a href="https://www.pinedaandco.com/products/gift-card">Gift Card</a>
  </div>
  <div>
    <a href="https://www.facebook.com/pinedaandco/">Facebook</a>
  </div>
  <div>
    <a href="https://www.instagram.com/pinedaandco/">Instagram</a>
  </div>
</div>
{% section 'newsletter' %}
