{{ page.content }}

<style>
  body {
    background: rgb(38,0,6);
    background: linear-gradient(
      0deg,
      rgba(38,0,6,1) 0%,
      rgba(228,217,255,1) 0%,
      rgba(30,39,73,1) 100%
      );
    background-repeat: no-repeat;
  }
  .profileImage{
    border-radius: 50%;
  }
  .profileImageContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 200px;
  }
  .name {
    display: flex;
    align-content: center;
    justify-content: center;
    color: rgb(243,236,236);
    font-size: 3rem;
  }
  a {
    display: flex;
    align-container: center;
    justify-content: center;
    border: 1px white solid;
    background-color: #273469;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fafaff;
    margin: 30px;
    padding: 30px;
  }
  a:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.8);
  }
</style>

<div class="profileImageContainer">
  <img
    src="https://cdn.shopify.com/s/files/1/0709/8856/2705/files/IMG_3638.jpg?v=1674242242"
    alt="Pineda & Co."
    class="profileImage"
  >
</div>
<div class="name">
  <h1>Pineda & Co.</h1>
</div>

<svg focusable="false" class="icon icon-facebook" viewBox="0 0 18 18">
    <path fill="currentColor" d="M16.42.61c.27 0 .5.1.69.28.19.2.28.42.28.7v15.44c0 .27-.1.5-.28.69a.94.94 0 01-.7.28h-4.39v-6.7h2.25l.31-2.65h-2.56v-1.7c0-.4.1-.72.28-.93.18-.2.5-.32 1-.32h1.37V3.35c-.6-.06-1.27-.1-2.01-.1-1.01 0-1.83.3-2.45.9-.62.6-.93 1.44-.93 2.53v1.97H7.04v2.65h2.24V18H.98c-.28 0-.5-.1-.7-.28a.94.94 0 01-.28-.7V1.59c0-.27.1-.5.28-.69a.94.94 0 01.7-.28h15.44z">
  </path>
</svg>

<div class="container">
  <div>
    <a href="https://www.pinedaandco.com/">The House of Pineda & Co.</a>
  </div>
  <div>
    <a href="https://www.pinedaandco.com/collections/all">Shop</a>
  </div>
  <div>
    <a href="https://www.pinedaandco.com/products/gift-card">Gift Card</a>
  </div>
</div>
{% section 'newsletter' %}
