{{ page.content }}

<style></style>
<div class="profileImageContainer">
  <img
    src="https://cdn.shopify.com/s/files/1/0709/8856/2705/files/IMG_3638.jpg?v=1674242242"
    alt="Pineda & Co."
    class="profileImage"
  >
</div>
<div class="name">
  <h3>Pineda & Co.</h3>
</div>
<div class="container">
  <div>
    <a href="#">Shop</a>
  </div>
  <div>
    <a href="#">Shop</a>
  </div>
  <div>
    <a href="#">Shop</a>
  </div>
</div>
{% section 'newsletter' %}
