{{ page.content }}

<style>
  body {
    background: rgb(38,0,6);
    background: linear-gradient(
      0deg,
      rgba(38,0,6,1) 0%,
      rgba(228,217,255,1) 0%,
      rgba(30,39,73,1) 100%
      );
    background-repeat: no-repeat;
  }
  .profileImage{
    border-radius: 50%;
  }
  .profileImageContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 200px;
    font-size: 1.5rem;
  }
</style>

<div class="profileImageContainer">
  <img
    src="https://cdn.shopify.com/s/files/1/0709/8856/2705/files/IMG_3638.jpg?v=1674242242"
    alt="Pineda & Co."
    class="profileImage"
  >
</div>
<div class="name">
  <h3>Pineda & Co.</h3>
</div>
<div class="container">
  <div>
    <a href="#">Shop</a>
  </div>
  <div>
    <a href="#">Shop</a>
  </div>
  <div>
    <a href="#">Shop</a>
  </div>
</div>
{% section 'newsletter' %}
